<style>
    .delete-visual {
        display: none;
    }


  .add-visual {
    display: none !important;
  }

</style>

<div class="package">
  <%= render "visuals/main", 
    title: "Study" %>
</div>
