<li class="project" project-id="<%= production.id %>" code="<%= production.code %>">
    <a href="/productions/<%= production.code %>"><%= production.title %></a>
    <span class="project-extra">
        <i class="fa fa-ellipsis-h hover-gray project-options"></i>
    </span>
</li>