<style>
	.chords-lab {
		display: none;
	    position: fixed;
	    right: 0;
	    top: 0;
	    width: auto;
	    height: 100vh;
	    text-align: left;
	    background: #f4ffff;
	    border-left: 2px solid #16406c;
	    padding: 30px;
	    font-size: 24px;
	    z-index: 9990;
	    overflow-y: scroll;

	}

	.open-chords-lab {
		display: block;
	    position: fixed;
	    right: 0;
	    bottom: 0%;
	    width: 50px;
	    text-align: center;
	    border: 2px solid #7bbcff;
	    padding: 11px;
	    font-size: 18px;
	    z-index: 9999;
	    background: #16406c;
	    color: #ebf5ff;
	}

	.cp {
		border: 1px solid #ccc;
		padding: 20px;
		margin: 20px 0;
		border-radius: 10px;
		font-size: 18px;
		cursor: pointer;
	}

	.cp:hover {
		border: 1px solid blue;
	}

</style>

<div class="open-chords-lab">
	<i class="fa fa-book"></i>
</div>

<div class="chords-lab">
	<ul class="clean-list">
		<% ChordProgression.all.each do |cp| %>
			<li class="cp" chords="<%= cp.progression %>" scale="<%= cp.scale %>">
				<div class="cp-title"><%= cp.title %></div>
				<div class="cp-chords"><%= cp.progression %></div>
			</li>
		<% end %>
	</ul>
</div>

<script>
	$("body").on("click", ".open-chords-lab", function(){
		$(".chords-lab").toggle()
	})

	$("body").on("click", ".cp", function(){
		val = $(this).attr("chords")
		$(".tab-chords").val(val)
		scale = $(this).attr("scale")
		// $('.chords-box-mode option').attr("selected", false)
		// $('.chords-box-mode option[value="'+scale+'"]').attr("selected", true)
		console.log(scale)
		$('.chords-box-mode').val(scale);
		buildChordBox()
	})


</script>

<!--  -->