<div class="container">

	<br>
	<p>
		Ponderables fall into this category.
		Mitch Hedberg, Steven Wright, Rodney Dangerfield, Demetri Martin, Jay London 
	</p>

	<ul>
		<li>
			I saw a sign that said “Rest Area One Mile…” I thought, “Wow that’s huge!” - Steven Wright
		</li>
		<li>
			Every book is a children’s book, if the kid can read. - Mitch Hedberg
		</li>
		<li>
			A waffle is like a pancake with a syrup trap. - Mitch Hedberg
		</li>
		<li>
			I wrote a script and I gave it to a guy who reads scripts. And he read it and he said he really likes it, but he thinks I need to re-write it. I said "Fuck that, I'll just make a copy." - Mitch Hedberg
		</li>
		<li>
			I want to hang a map of the world in my house. Then I'm gonna put pins into all the locations I've traveled to, but first I'm gonna have to travel to the top two corners of the map, so it won't fall down. - Mitch Hedberg
		</li>
	</ul>
	
</div>
