<div class="container">

	<br>
	<p>
		Find possible endings for each of these lines: Remember to think about what is assumed, and then go the opposite direction.
		If you don’t focus on shattering what the audience perceives as being the overwhelming assumption, you are not executing on the REVERSE joke structure.
	</p>

	<ul>
		<li>
			I have a friend who recently had twins. She named them Emily and Emelia. I don’t think that’s right…for a couple of reasons…
		</li>
		<li>
			I think of my boss as a father figure…
		</li>
		<li>
			I got fired for getting my finger stuck in the dishwasher…
		</li>
		<li>
			I got kicked out of ballet class because I pulled a groin muscle…
		</li>
		<li>
			My mother has buried three husbands…
		</li>
		<li>
			Some people get so rich they lose all respect for humanity…
		</li>
		<li>
			The other day I came home and my girlfriend was on her cellphone…
		</li>
		<li>
			My father once said, “I’ll make you a deal; If you stop peeing in your bed, I’ll pay for your college…
		</li>
		<li>
			I wanna die like my grandfather who died peacefully in his sleep…
		</li>
		<li>
			I was writing on a show with this girl and she started to get intimate.
		</li>
	</ul>
	
</div>
