<style>
	.masc {
	}

	.fem {
		background: #b10059;
		display: none;
	}

	.fem {
		padding: 30px;
	}

	.fem .fr-view {
		color: #fff;
	}

	.spine {
		width: 550px;
		margin: 0 auto;
	}

	.masc .whose-hell {
		color: #8854d0;
    	font-size: 21px;
    	font-weight: bolder;
	}

	.masc {
		font-weight: 700;
	}

</style>

<article class="spine" key="spine">
	<% spine = [
		"Once upon a time",
		"And every day",
		"Until one day",
		"Initially",
		"And because of this",
		"Until finally",
		"And ever since that day"
	]%>

	<% spine.each_with_index do |s, index| %>
		<div>
		<p class="toggle-fem spine-head"><%= s %>,</p>
				<div class="masc">
					 		
					<% if (index + 1) == 2%>

						<div put="whose-hell"></div>
						<div put="goal"></div>


					<% elsif (index + 1) == 3%>
						<div style="border: 0;" put="plot-curtain" ></div>
					<% elsif (index + 1) == 4 %>
						<div style="width:100%; margin: 0;" put="during" >
						</div>
					<% elsif (index + 1) == 5 %>
						<div style="width:100%; margin: 0;" put="during-2" >
						</div>
					<% elsif (index + 1) == 6%>
						<div style="width:100%; margin: 0;" put="red-3" >
						</div>
						<div style="width:100%; margin: 0; border: 0;" put="climax" >
							</div>
					<% else %>
						<div class="message-form froalize save-this" data-save-code="spine_masc_<%= index + 1 %>">
							<textarea>
								<%= @story.story_details.try(:[], "spine_masc_#{index + 1}").try(:html_safe) if @story.story_details.present?  %>
							</textarea>
						</div>

					<% end %>
				</div>
		</div>
		<hr>
	<% end %>


</article>

<script>

	// $("body").on("click", ".toggle-fem", function(){
	// 	li = $(this).closest("div")
	// 	li.find(".fem").toggle()
	// })

</script>