<style>
	#wrapper {
		padding: 100px;
	}

	.coming-soon img {
		max-width: 100%;
    	display: block;
    	margin: 0 auto;
	}

	.story-title {
		font-size: 3vw;
		font-family: 'sf';
	}

	.coming-soon li {
		padding: 10px 0;
	}

	.crew-mate {
		
	}
</style>

<div id="wrapper">
	<h1>
		StorytellRight
		<!-- <a class="float-right btn btn-primary" href="/users/sign_in">Sign In</a> -->
		<a class="float-right btn btn-outline-primary crew-mate"  href="/users/sign_in"><i class="fa fa-user"></i> Crewmate</a>

		<a class="float-right btn btn-primary" style="margin-right: 10px;" href="mailto:thisnabeelstorytells@gmail.com">Hire</a>
	</h1>

	<hr>

	<% if Chapter.where(visibility: true).present? %>
		<%# render "pages/blog" %>
	<% end %>

	<style>
		#land-nav {
			display:flex;
		}

		#land-nav li {
			flex: 1 1 50%;
			text-align: center;
			padding: 20px;
		}

		#land-nav li.active-nav {
			background: #000;
			color: #fff;
		}
	</style>

	<nav id="land-nav" class="clean-list">
		<li toggle="presentations" class='active-nav'>Posts</li>
		<li toggle="about">About</li>
	</nav>

	<br>


	<section class="page" data-slug="home" toggle="about" style="display:none;">
		
		<% if Page.find_by_slug("home").present? %>
			<%= Page.find_by_slug("home").body.html_safe %>
		<% else %>
			<p><br></p>
		<% end %>

	</section>


	<section toggle="presentations" style="display:block;">
		<%= render "presentations/cards", presentations: Presentation.all.shuffle %>
	</section>


</div>

<script>

$("body").on("click", "#land-nav > li", function(){
	toggle = $(this).attr("toggle")
	$(this).addClass("active-nav").siblings().removeClass("active-nav")
	$("section[toggle='"+toggle+"']").show().siblings("section[toggle]").hide()
})


<% if user_signed_in? %>
	$(".page").froalaEditor({
	key: froalaKey,
	toolbarInline: true,
	charCounterCount: false,
	toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo'],
   saveInterval: 500
  })
  .on('froalaEditor.save.before', function (e, editor) {
    // Before save request is made.
    sendUp($(".page").first())
  })
  .on('froalaEditor.save.after', function (e, editor, response) {
    // After successfully save request.
  })
  .on('froalaEditor.save.error', function (e, editor, error) {
    // Do something here.
  });

	function sendUp(page){
		
	   $.ajax({
	       type: "POST",
	       dataType: "json",
	       url: '/page-edit',
	       contentType: 'application/json',
	       data: JSON.stringify({ 
	       	  slug: page.attr("data-slug"),
	          body: page.find(".fr-view").html(),
	          _method:'post' 
	       }),
	       success: function(res){
	         console.log(res)
	       }
	   })
	}
</script>
<% end %>