<style>
	#wrapper {
		padding: 100px;
	}
</style>




<div id="wrapper">
	<h1>
		This<a href="/users/sign_in">Nabeel</a>Storytells
	</h1>
	<p>
		To whom it may concern,
		<br><br>
		My job is to craft True stories.
		<br>
		True?
		<br>
		Information is knowing that a tomato is a fruit, Wisdom is knowing not to put it in a fruit salad. 
		<br>
		Wisdom is Truth, since everyone across space and time already knows it.
		<br>
		Each individual story that imparts one piece of wisdom
		<br>
		<b>My Rule:</b>
		<br>If my story can't convince you of a wise truth by itself, then it's a false story.
		<br>
		So...
		<br>
		My job is to craft True stories.
		<br><br>
		Sincerely,
		<br>
		Nabeel Khan
	</p>

	<!-- <div class="btn btn-primary">For Mr.Brian</div>
	<div class="btn btn-info">For Everyone Else</div> -->
</div>