

<h1>Joke Triggers:</h1>
<hr>
<ul>
	<li>SURPRISE</li>
	<li>SUPERIORITY</li>
	<li>EMBARRASSMENT</li>
	<li>RELEASE</li>
	<li>INCONGRUITY</li>
	<li>RECOGNITION</li>
	<li>AMBIVALENCE</li>
	<li>CONFIGURATIONAL</li>
	<li>COINCEDENCE</li>
</ul>