<style>

    #newStoryModal {
        display: none;
        background: #2c3e50 !important;
        /*background: #fff !important;*/
    }

    .newStory-body {
        font-family: 'Merriweather', serif;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.58em;
        margin: 0 auto;
        padding: 100px;
        max-width: 740px;
        color: #fffbf3;
    }



    .newStory-body input {
        font-family: 'VT323', monospace;
        text-align: center;
        padding: 20px;
        border-radius: 0;
        background-color: transparent;
        border: 0;
        color: #F8EC23 !important;
        outline: none; 
        font-size: 24px;
    }

    .newStory-body input:focus {
        background-color: transparent;
        color: #F8EC23 !important;
        border: 0;
        outline: none; 
    }

    .close-newStoryModal {
        position: fixed;
        background: #e6ac38;
        color: #fff;
        padding: 10px;
    }

    #newStoryModal .btn {
        font-family: 'VT323', monospace;
    }
    
</style>

    <!--  ROOM -->
    <!--Call your modal-->
    <a id="newStory" style="display:none;" href="#newStoryModal">DEMO02</a>

    <!--DEMO01-->
    <div id="newStoryModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
        <div class="close-newStoryModal"> 
        	X
        </div>
        
        <div class="newStory-body new-story">

            <h2 class="text-center">Let's Start a New Story</h2>   
            <input type="text" folder="title" class="form-control new-story-title-input save-this" placeholder="Give it a name... anything works for now">
            <!--  -->
            <input type="text" folder="series" class="form-control new-story-title-input save-this" placeholder="Is it a series?">
            <!--  -->
            <input type="text" folder="year" class="form-control new-story-title-input save-this" placeholder="Year?">
            <!--  -->
            <span class="btn btn-info save-new-story btn-block text-center">Save</span>

        </div>

    </div>

<script>
    $("#newStory").animatedModal({
        animatedIn: "bounceInUp",
        animatedOut: "bounceOutDown",
        modalTarget:'newStoryModal'
    });
    
    function makeBox(res){
        
        if (res["original"] == true) {
            original = "original"
        } else {
            original = "study"
        }

        story_box = `
        <li class='`+original+`'>
    
            <span class="year">`+res["year"]+`</span>

            <br>

            <span class="delete-story" data-id="`+res["id"]+`">X</span>
            <span class="story-title">
                `+res["title"]+`
            </span>

            
            
            <a href="/stories/`+res["id"]+`" class="enter-btn">
                Enter
            </a>
        </li>
        `
        return story_box
    }


    $(".save-new-story").on("click", function(){
        saveStory()
    })

    function saveStory(){
        original = <%= @original %>

        // alert(original)

        

        hash = { 
              user_id: <%= current_user.id %>,
              original: original,
              _method:'post' 
        }

        $(".new-story .save-this").each(function(){
            hash[$(this).attr("folder")] = $(this).val()
        })

       $.ajax({
           type: "POST",
           dataType: "json",
           url: '/create_story',
           contentType: 'application/json',
           data: JSON.stringify(hash),
           success: function(res){
             console.log(res["id"])
             $(".stories-list li:last").before(makeBox(res))
             $(".close-newStoryModal").trigger("click")
           }
       })
    }

    $("body").on("click", ".add-story", function(){
        $("#newStoryModal").show()
        $("#newStory").trigger("click")
    })

</script>