<style>

	.acts {
		margin: 10px 0;
	}
	.act {
		padding: 10px;
	}

	.act h1 {
		text-align: center;
		font-family: 'VT323', monospace;
		color: #e74c3c;
	}

	.acts i {
		font-size: 20px;
		cursor: pointer;
	}

	.acts .fleshed-out-act {
		color: #27ae60;
	}

	.fleshed-out {
		display: none;
	}

	.froalize .fr-view {
		/*background-color: #fff;*/
		color: #9e7806;
	}

	.story-wrapper {
		padding: 100px;
	}
	.story-title {
		/*padding: 30px;*/
	}

	.necessary-form li {
		list-style: none;
    	background: #fff;
    	padding: 10px;
    	margin: 10px;
	}

	.necessary-form>ul>li {
		position: relative;
	}

	.characters li {
		border: 6px solid #E8E8E8;
	}

	.characters .character-name input {
		background-color: #ffffff;
    	color: #007bff;
    	font-weight: bold;
	}

	.connection {
		padding: 14px 0;
	}

	.characters {
		display: none;
	}
	
	#characters-list-opener, .characters-list-opener {
	    position: fixed;
	    left: 0;
	    top: 0;
	    height: 100%;
	    background: #fdfcfc;
	    padding: 10px;
	    min-width: 10px;
	    
	    -webkit-box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
		-moz-box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
		box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
	}

	#notes-opener, .notes-opener {
	    position: fixed;
	    right: 0;
	    top: 0;
	    height: 100%;
	    background: #a5fffb !important;
	    padding: 10px;
	    min-width: 10px;
	    
	    -webkit-box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
		-moz-box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
		box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
	}

	#notes a {
		color: #92eaff;
	}

	#notes {
		display: none;
	    position: fixed;
	    right: 0;
	    top: 0;
	    height: 100%;
	    padding: 30px;
	    background: #2e2222;
    	color: #fff;
	    min-width: 225px;
   		max-width: 225px;
		-webkit-box-shadow: -10px 10px 17px -16px rgba(0,0,0,0.38);
		-moz-box-shadow: -10px 10px 17px -16px rgba(0,0,0,0.38);
		box-shadow: -10px 10px 17px -16px rgba(0,0,0,0.38);
	}

	#characters-list {
		display: none;
	    position: fixed;
	    left: 0;
	    top: 0;
	    height: 100%;
	    padding: 30px;
	    background: #f7f5f4;
	    min-width: 225px;
   		max-width: 225px;
		-webkit-box-shadow: 10px 10px 17px -16px rgba(0,0,0,0.38);
		-moz-box-shadow: 10px 10px 17px -16px rgba(0,0,0,0.38);
		box-shadow: 10px 10px 17px -16px rgba(0,0,0,0.38);
	}

	#characters-list li {
		list-style: none;
		padding: 6px;
		background-color: #FEFEFE;
		margin: 6px 0;
		border-radius: 10px;
		font-family: 'VT323', monospace !important;
		font-size: 22px;
	}

	.boolean-toggle {
		position: relative;
    	text-align: right;
	}
	
	.color-nav {
		/*display: inline;*/
	}
	.color-select {
		display: inline-block;
	    height: 10px;
	    width: 50px;
	    margin: 0px;
	    border-radius: 3px;
	}
	
	.color-select.villian {
		border: 1px solid #ff4757;
	}
	.color-select.villian.active,
	#characters-list .villian {
		background: #ff4757;
		color: #fff;
	}

	.color-select.clone,  {
		border: 1px solid #2ed573;
	}
	.color-select.clone.active {
		background: #2ed573;
	}

	.color-select.support {
		border: 1px solid #70a1ff;
	}
	.color-select.support.active {
		background: #70a1ff;
	}

	.color-select.alternative,
	#characters-list .alternative
	 {
		border: 1px solid #f9ca24;
	}

	.color-select.alternative.active,
	#characters-list .alternative {
		background: #f9ca24;
	}
	
	.color-blue .fr-view {
		color: #0669c1 !important;
	}


/*	.characters-count-badge {
		height: 10px;
		width: 10px;
		position: absolute;
		top: 0px;
		right: -10px;
		color: #9b59b6;
	}*/

	.mini-input {
		max-width: 200px;
		display: inline-block;
		position: relative;
		right: 0;
	}

	.extra-details {
		display: none;
	}

	.inputs {
		position: relative;
		max-width: 210px;
		margin: 0 auto;
	}

	.toggle-extra {
		position: absolute;
		right: -20px;
		top: 20px;
		font-size: 22px;
	}

	article.part {
		padding: 20px;
	}

	#part-1 {
		border: 20px solid #7bed9f;
	}

	#part-2 {
		border: 20px solid #ff6b81;
	}

	#part-3 {
		/*border: 20px solid #a29bfe;*/
		background-color: #fff;
	}

	#part-4 {
		/*border: 20px solid #3742fa;*/
		background-color: #fff;
	}

	.armature, .punchline {
		max-width: 55px;
	}

	.promise {
		max-width: 25px;
	}

	.bomb {
		max-width: 75px;
	}

	.armature-descendants {
		list-style: none;
	}

	.armature-descendants li {
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    background-color: transparent;
	    border: 2px solid #e84393;
	    border-radius: 100%;
	}

	.selected {
	    margin-top: 20px;
	    line-height: 50px;
	}

	.selected li {
		list-style: none;
	    display: inline-block;
	    padding: 14px;
	    background: #fff;
	    border-radius: 15px;
	    margin: 4px;
	    position: relative;
	}

	.selected .remove-item {
		position: absolute;
		top: 0px;
		left: 0px;
		color: #ccc;
	}

	.selected .remove-item:hover {
		color: #000;
	}

	.modal-dialog .modal-title {
		font-size: 34px;
		color: #5f27cd;
	}

	.modal-dialog ul {
		margin: 20px;
	}

	.modal-dialog {
	    max-width: 690px;
	    margin: 1.75rem auto;
	}

	.modal-content {
		padding: 3rem;
	}

	.act-1.scenes-list li:not(:last-child),
	.act-1.skeleton-list li:not(:last-child) {
		background-color: #00a8ff;
		color: #fff;
	}

	.act-1.scenes-list li:last-child,
	.act-1.skeleton-list li:last-child {
		/*border: 3px dashed #ed143d;*/
		background-color: #B53471;
		color: #fff;
	}

	.act-3.scenes-list li:first-child,
	.act-3.skeleton-list li:first-child {
	    background-color: #ed143d ;
	    color: #fff;
	}
	
	.act-3.scenes-list li:nth-child(2),
	.act-3.skeleton-list li:nth-child(2) {
	    background-color: #fff24f;
	    color: #000000;
	    margin-top: -10px;
    	position: relative;
    	top: -10px;
    	left: 10px;
    	border: 4px dashed #ff67af;
	}

	.act-3.scenes-list li:last-child,
	.act-3.skeleton-list li:last-child {
		background-color: #068733;
		color: #fff;
	}

	.scenes-list, 
	.skeleton-list {
		list-style: none;
	}

	.scenes-list li,
	.skeleton-list li {
		padding: 20px;
		-webkit-box-shadow: 0px 5px 14px -6px rgba(0,0,0,0.50);
		-moz-box-shadow: 0px 5px 14px -6px rgba(0,0,0,0.50);
		box-shadow: 0px 5px 14px -6px rgba(0,0,0,0.50);
		position: relative;
		margin: 10px 0;
	}

	.the-end, .scene-pic {
		max-width: 90px;
    	margin: 0 auto;
    	display: block;
	}

	.scenes-list .remove-item {
		position: absolute;
		top: 0;
		left: -5px;
	}

	.remove-item {
		color: #f1f1f1;
	}

	.remove-item:hover {
		color: #000;
	}

	@media (min-width: 576px) {
		.modal-dialog {
		    max-width: 690px;
		    margin: 1.75rem auto;
		}
	}

	.final-showdown {
		position: absolute;
    	top: 40px;
    	z-index: 9;
    	right: -20px;
	}

	.seatbelt {
	    max-width: 125px;
	    bottom: -25px;
	    border-radius: 10px;
	    z-index: 999;
	    /*background: #bfa000;*/
	    /*filter: invert(100%);*/
	    /* right: 2.5em; */
	    /* margin: 0 auto; */
	    /* text-align: center; */
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		/*padding: 10px;*/
	}

	#stories {
		font-size: 44px;
	}

	.message {
		border-radius: 5px;
	    font-size: 24px;
	    color: blue !important;
	    /*text-align: center;*/
	    padding: 30px;
	    margin: 0 40px;
	    display: block;
	}

	.message p {
		margin: 0;
		padding: 0;
	}



	#left-story, #right-story {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    background: #a5fffb;
	    padding: 10px;
	    min-width: 60px;
/*	    
	    -webkit-box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
		-moz-box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);
		box-shadow: 10px 10px 70px -16px rgba(0,0,0,0.56);*/
	}

	#left-story {
		left: 0;
	}

	#right-story {
		right: 0;
	}

	.promise-click {
	    max-width: 45px;
	    position: absolute;
	    right: -25px;
	    bottom: 10px;
	}

	.hellish-2 {
    	background: #a70001;
    	color: #fff;
    	padding: 40px;
    	font-size: 18px;
	}

	.climax {
    	background: #ede57b;
    	padding: 40px;
    	font-size: 18px;
	}
	.climax p {
		margin: 0;
	}
</style>




<div class="story-wrapper">
	
		<h1 class='story-title'>
			<select name="" id="stories" class="form-control">
				<% Story.prereqs("climax", "bonfire-deny-accept-1", "armature").each do |s| %>
					<option value="<%= s.id %>">(<%= s.year %>) <%= s.title %></option>
				<% end %>
			</select>
		</h1>
	<section class="message">
	</section>
	<hr>
	<div class="hellish-2">
		
	</div>
	<div class="climax">
		
	</div>
</div>

<div id="left-story">
	
</div>

<div id="right-story">
	
</div>

<script>
	$("#stories").on("change", function(){
		// console.log("/stories/" + $(this).val())
		getStory($(this).val())
	})
	
	function getStory(val) {

		$.getJSON( "/stories/" + val, function( data ) {
			
			// title = data["title"]
			// $(".story-title").html(title)

			message = data["story_details"]["armature"]
			$(".message").html("<a href='/stories/"+data["id"]+"' class='clean-a' target='_blank'>"+message+"</a>")

			act1 = data["story_details"]["act-1-skeleton"]
			act2 = data["story_details"]["act-2-skeleton"]
			act3 = data["story_details"]["act-3-skeleton"]

			$(".skeleton-list").empty()
			console.log(data)
			console.log(act1)

			hellish_2 = data["story_details"]["bonfire-deny-accept-1"]
			climax = data["story_details"]["climax"]



			// 
			$(".climax").html(climax || "")
			$(".hellish-2").html(hellish_2 || "")
			// 

			
		});

	}

	function selectRandom() {

	    // The dropdown list
	    $selectList = $('#stories option');

	    // Amount of options in it
	    var options = $selectList.length;

	    // Random number between 1 and the amount of options
	    var random = Math.floor((Math.random() * options) + 1);

	    // Select the option based in the random number
	    $selectList.eq(random).prop('selected', true);

	    getStory($('#stories').val())
	}

   selectRandom()

   $("#left-story").on("click", function(){
	index = $("#stories").prop('selectedIndex')
		$selectList = $('#stories option');

		next = index - 1
		if ( next == 0 ) {
			next = $selectList.length - 1
		}
		$selectList.eq(next).prop('selected', true);
		getStory($('#stories').val())
   })

   $("#right-story").on("click", function(){
		index = $("#stories").prop('selectedIndex')
		$selectList = $('#stories option');

		next = index + 1
		if ( next == $selectList.length ) {
			next = 0
		}
		$selectList.eq(next).prop('selected', true);
		getStory($('#stories').val())
   })
</script>
