<style>
#vidModal .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



#vidModal .modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
</style>

<!-- Modal -->
<div class="modal fade" id="vidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      
      <div class="modal-body">

       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9 yt-cont">
        </div>
                
        
      </div>

    </div>
  </div>
</div> 
  
<script>
$(document).ready(function() {

// Gets the video src from the data-src on each button




  
  
// document ready  
});



</script>