.top-nav {
    display: block;
    max-width: 300px;
    padding: 0px 20px 14px 20px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    text-align: center !important;
    position: relative;
    font-family: 'VT323', monospace;
}