#presentationModal {
  .modal-dialog {
    width: 98%;
    height: 92%;
    padding: 0;
    border: 0;
  }

  .modal-content {
    height: 99%;
    border: 0;
  }

  .modal-body {
    padding: 0 !important;
    border: 0;
  }

  iframe {
    height: 100% !important;
    width: 100% !important;
  }
}
