<style>
	
	.jokes-list {
		list-style: none;
		padding: none;
	}

	.jokes-list li {
		position: relative;
		width: 300px;
		margin: 20px;
		padding: 40px;
		display: inline-block;
		vertical-align: top;

		box-shadow: 0 0 10px 1px #c8c8c8;
		border-radius: 20px;
		text-align: center;
		background-color: #fff;
	}

	.joke-title {
		font-family: 'VT323', monospace;
        text-align: center;
        font-size: 24px;
	}

	.enter-btn {
      display: block;
	  width: 100%;
	  margin-top: 30px;
	  padding: 15px 10px;
	  
	  border: 4px solid #ccc;
	  border-radius: 80px;
	  
	  font-size: .9em;
	  font-weight: bold;
	  line-height: 1em;
	  letter-spacing: .04em;
	  text-transform: uppercase;
	}

	.enter-btn, .delete-joke {
		color: #ccc;
		cursor: pointer;
	}

	.enter-btn:hover, .delete-joke:hover {
		color: #000;
		border: 4px solid #000;
	}

	.delete-joke:hover {
		border: 0;
	}

	.delete-joke {
		position: absolute;
		top: 20px;
		left: 20px;
		border: 0;
	}

	.add-joke {
		border: none;
	    background: #c8c8c8 !important;
	    color: white;
	    font-size: 45px;
	}


	.jokes-list li.original {
		box-shadow: 0 0 10px 1px #f1d60e;
		background: #f6edb7;
	}

	.year {
		position: absolute;
	    top: -12px;
	    left: -20px;
	    background: #000;
	    color: #fff;
	    padding: 3px 5px;
	    border-radius: 7px;
		font-family: 'VT323', monospace;
	}

	.top-nav .btn-info {
		padding: 7px;
		border-radius: 5px;
	}

	.fa-play-circle {
	    position: absolute;
	    bottom: 4px;
	    right: 0;
	    right: 8px;
	    font-size: 30px;
	    color: #cddfff;
	}

</style>





<h1>Study: <small><%= @jokes.count %> jokes</small></h1>
<%= render "songs/finder" %>

<ul class="jokes-list">
	<% @jokes.each do |m| %>
		<li production-type="Joke">
			<span class="delete-joke" data-id="<%= m.id %>">X</span>
			<%= render "jokes/production", m:m %>
		</li>
	<% end %>
</ul>


<script>

</script>